
img {
  cursor: pointer;
}
.img-fluid {
  box-shadow: 1px 2px 10px black;
  width: 50px;
  height: 50px;
}

body {
  font-family: 'Lato', sans-serif;
  border: 10px #D1913C solid;
  width: 500px;
  height: 300px;
  margin: 50px 50px 50px 50px;
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
}

/*New Game */
.newGame {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  gap: 5px;
  font-size: 17px;
}

.iconNewGame {
  width: 14px;
  height: auto;
}

/*le corps du jeu*/
.spaceGame {
  display: flex;
  margin: 0 70px 0 70px;
  justify-content: space-between;
}

/*icone de lancer+ajoutHold*/
#icon-roll {
  width: 12px;
  height: auto;
}

.roll {
  font-size: 10px;
}

.current {
  border: 2px black;
  background-color: red;
  width: 50px;
  height: 40px;
  font-size: 5px;
  text-align: top;
}

.current p {
  font-size: 15px;
  color: white;
  margin-bottom: 2px;
}

.shake {
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% {
    transform: rotate(30deg);
  }

  50% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(30deg);
  }
}

@media all and (min-width: 320px) and (max-width:768px) {
  body {
    width: auto;
    height: auto;
  }

  /*
  .newGame {
    width: auto;
  }
  .d-flex {
    width: auto;
  }
  */
}