* {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
}

.container-fluid {
  width: 600px;
  height: 400px;
  border: 10px #D1913C solid;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-fluid {
  width: 15px;
  height: auto;
  cursor: pointer;
}

.dice {
  width: 50%;
  height: auto;
}

.active {
  display: flex;

}
